@model IEnumerable<ReMenu.Repositories.MealRepository>

@{
    ViewData["Title"] = "AllFoodDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AllFoodDetails</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Google Map</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h3>The Best Restaurants in Town</h3>
    <div id="map"></div>
    <script>
        function initMap() {
            // Map options
            var options = {
                zoom: 12,
                center: { lat: 42.5031, lng: -83.1835 }
            }

            // New map
            var map = new google.maps.Map(document.getElementById('map'), options);

            addMarker({ lat: , lng: });  
            addMarker({ lat: , lng: });  
            addMarker({ lat: , lng: });  
            addMarker({ lat: , lng: });  
            addMarker({ lat: , lng: });  
            addMarker({ lat: , lng: });  


            //Add Marker Function
            function addMarker(coords) {
                var marker = new google.maps.Marker({
                    position: coords,
                    map: map
                });
            }

        }
    </script>
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYYPL3ME7dXDwfgm-beuuXK2CAVeorI3I&callback=initMap">
    </script>
</body>
</html>
