@model ReMenu.Models.ViewModels.MealCreateViewModel

@{
    ViewData["Title"] = "CreateMeal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateMeal</h1>

<h4>MealCreateViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMeal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FoodieId" class="control-label"></label>
                <input asp-for="FoodieId" hidden class="form-control" />
                <span asp-validation-for="FoodieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantId" class="control-label"></label>
                <input asp-for="RestaurantId" hidden class="form-control" />
                <span asp-validation-for="RestaurantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodOrder" class="control-label"></label>
                <input asp-for="FoodOrder" class="form-control" />
                <span asp-validation-for="FoodOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResturantId" class="control-label"></label>
                <input asp-for="ResturantId" class="form-control" />
                <span asp-validation-for="ResturantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FutureModification" class="control-label"></label>
                <input asp-for="FutureModification" class="form-control" />
                <span asp-validation-for="FutureModification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FutureOrder" class="control-label"></label>
                <input asp-for="FutureOrder" class="form-control" />
                <span asp-validation-for="FutureOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
