!DOCTYPE html>
<h1>Seeing All of My Meals</h1>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale="1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ReMenu Map</title>
    <style>
        #map{
            height:400px;
            width:100%;
        }
    </style>
</head>
<body>
    <h1>My Meals on a Map!</h1>
    <div id="map"></div>
    <script>
        function initMap() {
            var options = {
                zoom:11,
                center:{lat:42.5031,lng:-83.1835}
            }

            var map = new google.maps.Map(document.getElementById('map'), options);

        }

    </script>
    <script async 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc03Sx367t7nQLv1FrVzZtf2OMu-fNIVY&callback=initMap">
    </script>

</body>
</html>








@{
    ViewData["Title"] = "GetMeals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


