
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


@*<select asp-for="State" class="form-control" asp-items="new SelectList(ViewData[" States"])"> </select>

<select asp-for="Category" class="form-control" asp-items="new SelectList(ViewData[" Categories"])"> </select>

<select asp-for="Rating" class="form-control" asp-items="new SelectList(ViewData[" Ratings"])"> </select>*@

